.h1,
h1 {
    font-size: 2em;
    font-weight: 700;
    font-family: $font1;
}

.h2,
h2 {
    font-size: 1.5em;
    font-family: $font1;
}

.h3,
h3 {
    font-size: 1.17em;
    font-family: $font1;
}

.h4,
h4 {
    font-size: 1em;
    font-family: $font1;
}

.h5,
h5 {
    font-size: 0.83em;
    font-family: $font1;
}

.h6,
h6 {
    font-size: 0.67em;
    font-family: $font1;
}