@import     
    './typography',
    './mixins';

body {
    background-color: $color2;
    margin: 0px;    
    font-family: $font1;
    color: $color1;    
    @include rfs(14, 16);
}

section {    
    @include responsive-styles('padding-top',40, 60);
    @include responsive-styles('padding-bottom',40, 60);
}

a:not(.kw-button, .header-logo__link) {
    color: $color1;
    text-decoration: underline;
    transition: .2s ease-in-out all;
    position: relative;
    
    &::after {
        content: '';
        position: absolute;                     
        bottom: rem(0);
        transform: translateY(-15px);
        left: 0px;
        border: 1px solid $color5;
        width: 100%;
        transition: .2s ease-in-out all;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
    }

    &:hover {
        transform: translateY(-2px);

        &::after {            
            color: $color5;
            border-color: $color5;  
            transform: translateY(2px);      
            opacity: 1;                                         
            visibility: visible;
        }
    }
}

input,
select,
textarea {
    border-radius: rem(8);
    display: block;
    max-width: 100%;        
    border: 1px solid darken($color1, 5%);
    height: rem(40);
    padding: rem(5) rem(15);    
    
    &::placeholder {
        color: $color4;
    }
}