@import     
    './typography',
    './mixins';

body {
    background-color: $color2;
    margin: 0px;    
    font-family: $font1;
    color: $color1;    
    @include rfs(14, 16);
}

a {
    color: $color1;
    text-decoration: underline;
}